<!DOCTYPE html>
{% extends 'base.html' %}

<html>
  {% block title %}{% endblock %}
{% block content %}
    Hi {{ name }}! 

    {% if compliments %}
        I think you're:
        <ul>
            {% for compliment in compliments %}
                <li>{{ compliment }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <form action="/game">
        Do you want to play a game?<br>
        <input type="radio" name="choice" value="yes">Yes<br>
        <input type="radio" name="choice" value="no">No<br>
        <input type="submit">
    </form>
{% endblock %}
</html>

