<!doctype html>
<html>
<head>
  <title>A Game</title>
</head>
<body>
    Let's play a game!

    <form action="/madlibs">
        Enter a name:
        <input type="text" name="person"></br>
        Choose a color:<br>
        <input type="checkbox" name="color" value="red">Red</br>
        <input type="checkbox" name="color" value="white">White </br>
        <input type="checkbox" name="color" value="blue">Blue</br>
        Enter a noun:
        <input type="text" name="noun"></br>
        Enter an adjective:
        <input type="text" name="adjective"></br>



        <input type="submit">
    </form>
</body>
</html>